<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Searchfight.Searchfight" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="Direccion1" value="https://www.google.com/search"/>
    <add key="Direccion2" value="https://www.bing.com/search"/>
    <add key="Buscador1" value="Google"/>
    <add key="Buscador2" value="MSN Search"/>
    <add key="CadenaIni1" value="Cerca de "/>
    <add key="CadenaFin1" value=" resultados"/>
    <add key="CadenaIni2" value="sb_count%22>"/>
    <add key="CadenaFin2" value=" resultados"/>
  </appSettings>
    <userSettings>
        <Searchfight.Searchfight>
            <setting name="Buscador1" serializeAs="String">
                <value>Google</value>
            </setting>
            <setting name="Buscador2" serializeAs="String">
                <value>MSN Search</value>
            </setting>
            <setting name="Direccion1" serializeAs="String">
                <value>https://www.google.com/search</value>
            </setting>
            <setting name="Direccion2" serializeAs="String">
                <value>https://www.bing.com/search</value>
            </setting>
            <setting name="CadenaIni1" serializeAs="String">
                <value>"Cerca de "</value>
            </setting>
            <setting name="CadenaFin1" serializeAs="String">
                <value>" resultados"</value>
            </setting>
            <setting name="CadenaIni2" serializeAs="String">
                <value>"sb_count\"&gt;"</value>
            </setting>
            <setting name="CadenaFin2" serializeAs="String">
                <value>" resultados"</value>
            </setting>
        </Searchfight.Searchfight>
    </userSettings>
</configuration>
